{% extends "base.html" %}

{% block main %}
<div class="row" style="margin: 0px;padding: 20px;">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" style="padding: 0px;">
        <div style="background-image: url('mac.jpeg');height: 50vh;background-repeat: no-repeat;background-size: cover;background-position: center;">
            <img src="{{ url_for('send_text_file', file_name=property.photo) }}"  alt="house photo">
        </div>
    </div>
    <div class="w-100 d-sm-block d-md-none d-lg-none d-xl-none"></div>
    <div class="col" style="padding: 0px;">
        <div class="card">
            <div class="card-body" style="height: 50vh;">
                <h4 class="card-title">{{ property.proptitle }}</h4>
                <div>
                <button class=" col-md-auto btn btn-default btn-sm rounded-pill disabled" style="background-color:#0d6efd;color:white;"> {{ "${:,.2f}".format(property.price) }} </button>
                <button class=" col-md-auto btn btn-warning btn-sm rounded-pill text-white disabled"> {{ property.property_type }} </button>
                </div>
                <h6 class="text-muted card-subtitle mb-2">{{ property.description }}</h6>
                <div class="bed-bath">
                    <p>{{ property.number_of_rooms }} Bedrooms</p> <p>{{ property.number_of_bathrooms }} Bathrooms</p>
                <p class="card-text"> {{ property.location }} </p>
                <br>
                <a class="card-link" href="#">Email Realtor</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}