{% extends "base.html" %}

{% block main %}
<h1 class="heading">Properties</h1>
<ul>
    <div class="card-container">
        {% for property in properties %}
        <div class="card">
            <div class="card-photo">
                <img src="{{ url_for('get_image', filename=property.photo) }}"  alt="house photo">
            </div>
            <div class="card-body d-flex flex-column">
                <div>
                    <h4 class="card-head">{{ property.proptitle }}</h4>
                    <h6 class="text-muted mb-2">{{ property.location }}</h6>
                    <a class="align-self-start price">${{ property.price }}</a>
                </div>
                <a class="card-link" href="{{ url_for('propertyid', propertyid = property.id) }}">View Property</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
</ul>
{% endblock %}